*, :before, :after {
  box-sizing: border-box;
}

ul[class], ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
  min-height: 100vh;
  line-height: 1.5;
}

ul[class], ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto !important;
    transition-duration: .01ms !important;
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
  }
}

body {
  background-color: #efefef;
}

.blue-txt {
  color: #4c9eed;
}

.white-txt {
  color: #efefef;
}

#nav-line {
  background-color: #a7a7a7;
}

.nav-list li:hover {
  background-color: #d9d9d9;
}

.nav-list li a {
  color: #000;
  text-decoration: none;
  transition: all .2s;
}

.black-txt {
  color: #000;
}

.blue-line {
  background-color: #4c9eed;
}

.black-background {
  background-color: #242424;
}

.past-work {
  background-color: #87cffb;
}

h1, h2, h3, h4, p, a {
  font-family: Comfortaa, cursive;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

#sketch-container {
  position: fixed;
  top: 0;
  left: 0;
}

#animation-container {
  min-width: 100vw;
}

.page-content {
  width: auto;
  min-height: 100vh;
}

#welcome {
  min-height: 50vh;
}

nav {
  min-height: 10vh;
}

#hello {
  align-content: end;
  place-items: center;
  min-height: 50vh;
  display: grid;
}

#scroll-prompt {
  position: absolute;
  top: 85vh;
  left: 15vw;
}

#i-am-spacer {
  min-height: 100vh;
}

#i-am {
  align-content: center;
  min-height: 100vh;
  display: grid;
}

#i-am .i-am-container {
  z-index: 1;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  display: grid;
  position: relative;
}

#i-am .i-am-container span {
  place-items: center;
  display: grid;
}

#i-am .i-am-container #i-am-text {
  max-height: 48px;
}

#line-container {
  z-index: 2;
  position: absolute;
  top: 80vh;
  bottom: 0;
  left: 0;
}

#designer-svg {
  max-width: 20vw;
  position: fixed;
  top: 50vh;
  left: 65vw;
}

.black-background {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
}

.blinking {
  animation: 1s infinite blink;
}

@keyframes blink {
  0% {
    background-color: #4c9eed;
  }

  50% {
    background-color: #0000;
  }

  100% {
    background-color: #4c9eed;
  }
}

nav {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
  display: flex;
}

.nav-list {
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.nav-list li {
  border-radius: 20px;
  margin-left: 1vw;
  padding: .5vw 1vw;
}

#nav-line {
  min-width: 50vw;
  min-height: 3px;
}

#logo {
  max-width: 3vw;
  margin-right: 3vw;
}

#line-container {
  display: flex;
}

.blue-line {
  z-index: 6;
  width: 5px;
  height: 75vh;
}

#typed-text {
  max-height: 48px;
}

#center-line-container {
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 12.5vh;
  left: 50vw;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(200%);
  }

  100% {
    opacity: 1;
    filter: blur();
    transform: translateY(0%);
  }
}

#hello .blue-txt, #hello h1, #hello h4 {
  animation: 1s fadeIn;
}

#hello h1 {
  animation-delay: .1s;
}

#hello h4 {
  animation-delay: 1s;
}

#works {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.past-work {
  border-radius: 30px;
  flex-direction: column;
  max-width: 40%;
  padding: 50px;
  display: flex;
}

.work-container {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  display: flex;
}

/*# sourceMappingURL=index.c74267d1.css.map */
